.header {
  padding: 19px 0;
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.logo__img {
  display: block;
  width: 210px;
  height: 52px;
}

.header__navbar {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item+.nav__item {
  margin-left: 30px;
}

.nav__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--cl-text);
}

.nav__link:hover {
  opacity: 0.7;
}

.header__link-sign {
  padding: 10px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 7px;
}

.link-sign--in {
  margin-left: 24px;
  margin-right: 24px;
  color: var(--cl-logo);
  border: 1px solid #bcd0e5;
}

.link-sign--in:hover {
  background-color: #173A56;
  color: #ffffff;
  border: 1px solid #173A56;
}

.link-sign--up {
  margin-right: 24px;
  background-color: #02897a;
  color: #ffffff;
  border: 1px solid #02897a;
}

.link-sign--up:hover {
  background-color: var(--cl-bg);
  border: 1px solid #02897a;
}

.header__button-mode {
  padding: 4px 9px;
  padding-top: 8px;
  background-color: #f3f3f3;
  border-radius: 50%;
  cursor: pointer;
}

.header__button-mode:hover {
  opacity: 0.7;
}

.header__humburger {
  display: none;
}

.humburger__modal {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  padding: 20px;
  width: 95%;
  height: 300px;
  background-color: var(--cl-bg);
  box-shadow: 0px 0px 100px 100px var(--cl-boxsh);
  text-align: center;
}

.humburger__item {
  margin-bottom: 15px;
}

.humburger__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--cl-text);
}

.humburger__link :hover {
  opacity: 0.7;
}

.humburger__more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.humburger__link-sign {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--cl-logo);

}

.humburger__button-mode {
  position: absolute;
  z-index: 1;
  top: -170px;
  right: 0;
}

.humburger__button-mode :hover {
  opacity: 0.7;
}

.humburger__img-x {
  display: none;
}

.humburger__img path {
  stroke: var(--cl-logo);
}

.humburger__img-x path {
  fill: var(--cl-logo);
}

.humburger__input:checked~.humburger__modal {
  display: block;
}

.humburger__input:checked~.humburger__modal~.humburger__label>.humburger__img {
  display: none;
}

.humburger__input:checked~.humburger__modal~.humburger__label>.humburger__img-x {
  display: block;
}

@include responsible(1010px) {
  .header__navbar {
    display: none;
  }

  .header__humburger {
    display: block;
  }
}


@include responsible(475px) {

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 8px 0;
    background-color: var(--cl-bg);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  }

  .logo__img {
    display: block;
    width: 190px;
    height: 42px;
  }

  .humburger__img {
    width: 24px;
    height: 28px;
  }

  .humburger__img-x {
    width: 24px;
    height: 28px;
  }
}